{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <title>Add Event</title>
  </head>

  <body>
    <h1>New Event</h1>
    <form method="post" action="{% url 'addevent' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td><label for="name">name</label></td>
          <td>
            <input id="name" type="text" name="n" />
          </td>
        </tr>
        <tr>
          <td><label for="category">category</label></td>
          <td>
            <select name="category_box" id="category" name="category_box">
              {%for category in cats%}
              <option value="{{category.category_id}}">
                {{category.name}}
              </option>
              {%endfor%}
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="location">location</label></td>
          <td>
            <input id="location" type="text" name="location_text_box" />
          </td>
        </tr>
        <tr>
          <td><label for="startdate">start date</label></td>
          <td>
            <input id="startdate" type="date" name="sdate" />
          </td>
        </tr>
        <tr>
          <td><label for="enddate">end date</label></td>
          <td>
            <input id="enddate" type="date" name="edate" />
          </td>
        </tr>
        <tr>
          <td><label for="starttime">start time</label></td>
          <td>
            <input id="starttime" type="time" name="stime" />
          </td>
        </tr>
        <tr>
          <td><label for="endtime">end time</label></td>
          <td>
            <input id="endtime" type="time" name="etime" />
          </td>
        </tr>
        <tr>
          <td><label for="descript">description</label></td>
          <td>
            <input id="descript" type="text" name="description" />
          </td>
        </tr>
      </table>
      <label id="warning" for="">{{success_message}}</label>
      <input
        type="submit"
        class="btn btn-primary"
        value="add event"
        name="addeventbutton"
      />
    </form>
    <a class="btn btn-secondary" href="{% url 'events' %}">go back</a>
  </body>
</html>
